#profileContentDiv {
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px;
}
#profilImg {
  border-radius: 50%;
  border: 0.5px solid lightgray;
}
#profileDiv {
  border: 1px solid lightgray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info {
  margin: 10px;
}
.btn {
  margin-right: 5px;
}
#reposDiv {
  margin-top: 10px;
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px;
}
#searchedUserDiv {
  margin-top: 10px;
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
#searchMain {
  display: flex;
  flex-direction: row;
}
#todaySentenceDiv {
  background-color: white;
  margin-top: 65px;
  border: 1px solid lightgray;
}
