#footer {
  background-color: white;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#instagramLogo {
  font-size: 225%;
  color: rgb(237, 57, 159);
  margin-right: 5px;
}
#youtubeLogo {
  font-size: 225%;
  color: red;
  margin-right: 5px;
}
#twitterLogo {
  font-size: 225%;
  color: rgb(9, 84, 205);
}
